html {
height: 100%;
}
.site-body {
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
box-sizing: border-box;
height: 100%;
background-color: black;
}
.site-content {
display: flex;
height: 100%;
box-sizing: border-box;
}
.site-main {
padding-left: 16px;
}

:root {
--mdc-theme-primary: #424242;
}
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::before,
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::after {
background-color: rgba(255, 255, 255, .2);
}

#greeting-form > button {
margin-top: 2px;
}
